@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans+Khojki&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.spin{
    animation: spin 30s linear infinite;
}